frontend/node_modules/
frontend.org
frontend-backup
backend/node_modules/
db-data/
.next/
.env
PUSH
.adminpw
ssl*/
nginx/ssl
package-lock.json
.~*
~*
*.txt
!frontend/robots.txt
!backend/blocked_news_words.txt
backup/
!backup/latest.sql
!backup/latest_c.dump
**/archive/
bin/*html
.vscode/
x
.directory
.megaignore
MSYNC
XSYNC
nohup.out
DIGITALOCEAN_BUILD
PUBLISH
.cursor/
docs/Estimated_Costs_1_Million_Users.xlsx
docs/PLAN.md
docs/Small_Golf_Handicap_Cost_Estimate.xlsx
docs/cost-estimation-small.md
docs/cost-spreadsheet.md
docs/implementation-plan.md
frontend/app/[lang]/test/
frontend/components.zip
frontend/pages.zip
RUNCURSOR
docker-compose_broke.yml
frontend/app/[lang]/test/
logs/
test-connection.js
update_db_ports.sh
updates.zip
frontend/app/\[lang\]/test/