frontend/node_modules/
frontend.org
frontend-backup
backend/node_modules/
db-data/
.next/
.env
PUSH
.adminpw
ssl*/
nginx/ssl
package-lock.json
.~*
~*
*.txt
*.csv
!frontend/robots.txt
!backend/blocked_news_words.txt
backup/
!backup/latest.sql
!backup/latest_c.dump
**/archive/
bin/*html
